project_id = "csysnvkvnoghhyqaxdkz"

[functions.analyze-incident]
verify_jwt = false

[functions.receive-email]
verify_jwt = false

[functions.send-email]
verify_jwt = true

[functions.notify-critical]
verify_jwt = true
